/*.ReactVirtualized__Grid__innerScrollContainer{*/
/*overflow: auto !important;*/
/* height: 100% !important;*/
/* min-height: calc(100% - 68px) !important;*/
/*}*/

@media only screen and (min-width: 900px) {
  .wrapper--Z20hQYP > :nth-child(1) {
    order: 2;
  }

  .wrapper--Z20hQYP .userlistPad--o5KDX {
    order: 3;
  }

  .wrapper--Z20hQYP > :nth-child(3) {
    order: 4;
  }

  .wrapper--Z20hQYP .content--2jo8b8 {
    order: 1;
  }

  .top--Z25OvN9 .left--18SBXP {
    order: 3;
  }

  .top--Z25OvN9 .left--18SBXP .arrowLeft--1CFBz1 {
    left: initial;
    right: 15px;
    transform: rotate(180deg);
  }

  .top--Z25OvN9 .left--18SBXP .arrowRight--Zbqp1D {
    left: initial;
    right: 35px;
    transform: rotate(180deg);
  }

  .tether-element .content--ZmitSl {
    right: 370px;
  }

  .content--ZmitSl span, .content--ZmitSl i {
    color: white;
  }

  .userListColumn--6vKQL .content--ZmitSl {
    right: 330px;
  }

  .scrollableList--wfdO0 {
    background: initial;
  }

  .left-top--1x0dTy:after, [dir="rtl"] .right-top--Z1QyptE:after, .right-top--Z1QyptE:after, [dir="rtl"] .left-top--1x0dTy:after, .left-top--1x0dTy:before, [dir="rtl"] .right-top--Z1QyptE:before, .right-top--Z1QyptE:before, [dir="rtl"] .left-top--1x0dTy:before {
    right: -8px;
    transform: rotate(180deg);
    left: initial;
  }
}
body {
  background-color: #2a2a2a !important;
}

.actionsbar--Z1mcyA0 .button--Z2dosza {
  /*   background-color: transparent; */
  border: none;
}
.actionsbar--Z1mcyA0 {
  --btn-default-bg: #1bce55;
  --btn-primary-color: #1bce55;
}
.content--ZmitSl {
  --dropdown-bg: black;
  background-color: black;
}
.overlay--Z1x46LG, .overlay--1aTlbi {
  background-color: rgba(58, 58, 58, 0.8);
}
:root {
  --loader-bg: #2a2a2a;
  --btn-primary-bg: #007b28;
  --btn-primary-border: #014216
}
.
/*
color: var(--btn-default-bg);
    background-image: none;
    background-color: transparent;
    border: var(--border-size-large) solid transparent;
*/

